<div class="row mt-4">

  <div class="col">
    <input type="search" class="form-control border-left-0 border-top-0 shadow-none border-right-0 rounded-0 sb" placeholder="Vignesh Kumar">
  </div><!--col-end-->

  <div class="col-auto dropdown">
    <button class="btn btn-sm sm-dd dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select action
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div><!--dropdown-end-->
</div><!--row-end-->
<!-- ======================================================================= tab nav end ============================================================================== -->
<div class="row mt-4 py-1">
  <div class="col d-flex flex-wrap align-items-center">
    <a routerLink="/ContactForm" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-2" />New</a>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12 col-xl-12">
    <table id="datatable"
           class="table"
           cellspacing="0" width="100%" style="width:100%">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
